src/pug/components/datepicker.pug
h2 Single datepicker
.nav-wrapper
  ul.nav.tabs.flex-column.flex-md-row(role='tablist')
    li.nav-item
      a#result-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#result', role='tab', aria-controls='result', aria-selected='true')
        | Result
    li.nav-item
      a#code-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#code', role='tab', aria-controls='code', aria-selected='false')
        | Code

  .tab-content
    #result.tab-pane.result-tab.fade.show.active(role='tabpanel', aria-labelledby='result-tab')
      .card.shadow
        .card-body
          .form-group
            .input-group.input-group-alternative
              .input-group-prepend
                span.input-group-text
                  i.ni.ni-calendar-grid-58
              input.form-control.datepicker(placeholder='Select date', type='text', value='06/20/2018')

    #code.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='code-tab')
      
      figure.highlight
        pre.language-html
          code.btn-icon-clipboard.
            .form-group
               .input-group.input-group-alternative
                 .input-group-prepend
                   span.input-group-text
                     i.ni.ni-calendar-grid-58
                 input.form-control.datepicker(placeholder='Select date', type='text', value='06/20/2018')
h2 Range datepicker
.nav-wrapper
  ul.nav.tabs.flex-column.flex-md-row(role='tablist')
    li.nav-item
      a#range-result-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#range-result-2', role='tab', aria-controls='result-2', aria-selected='true')
        | Result
    li.nav-item
      a#range-code-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#range-code', role='tab', aria-controls='code', aria-selected='false')
        | Code

  .tab-content
    #range-result-2.tab-pane.result-tab.fade.show.active(role='tabpanel', aria-labelledby='range-result-tab')
      .card.shadow
        .card-body
          .input-daterange.datepicker.row.align-items-center
            .col
              .form-group
                .input-group.input-group-alternative
                  .input-group-prepend
                    span.input-group-text
                      i.ni.ni-calendar-grid-58
                  input.form-control(placeholder='Start date', type='text', value='06/18/2018')
            .col
              .form-group
                .input-group.input-group-alternative
                  .input-group-prepend
                    span.input-group-text
                      i.ni.ni-calendar-grid-58
                  input.form-control(placeholder='End date', type='text', value='06/22/2018')

    #range-code.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='range-code-tab')
      figure.highlight
        pre.language-html
          code.language-html
            | .input-daterange.datepicker.row.align-items-center
            |    .col
            |      .form-group
            |        .input-group.input-group-alternative
            |          .input-group-prepend
            |            span.input-group-text
            |              i.ni.ni-calendar-grid-58
            |          input.form-control(placeholder='Start date', type='text', value='06/18/2018')
            |    .col
            |      .form-group
            |        .input-group.input-group-alternative
            |          .input-group-prepend
            |            span.input-group-text
            |              i.ni.ni-calendar-grid-58
            |          input.form-control(placeholder='End date', type='text', value='06/22/2018')

            
            
h2 Usage
p In order to use this plugin on your page you will need to include the following script in the the page’s footer:
pre.language-css
  code.language-css
    | (script src="/js/plugins/bootstrap-datepicker.min.js")

h2.mt-4 Initialization
p Add the <strong>.datepicker</strong> class on the text input that you want to become a datepicker.

dist/datepicker.html
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link rel="shortcut icon" href="./img/fevicon.ico" type="image/x-icon"/>
        <title>Datepicker</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"/>
        <link rel="stylesheet" href="./css/main.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
  </head>
  <body>   
        <!-- Sidenav-->
        <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
          <div class="container-fluid">
            <!-- Toggler-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <!-- Brand--><a class="navbar-brand pt-0" href="./index.html"><img class="navbar-brand-img" src="./img/brand/logo.svg" alt="..."/>
              <p class="h5 text-uppercase mt-3 d-none d-md-block">Knowledge Center</p></a>
            <!-- Collapse-->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
              <!-- Collapse header-->
              <div class="navbar-collapse-header d-md-none">
                <div class="row">
                  <div class="col-6 collapse-brand"><a href="./index.html"><img src="./img/brand/logo.svg"/></a></div>
                  <div class="col-6 collapse-close">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav"><span></span><span></span></button>
                  </div>
                </div>
              </div>
              <!-- Navigation-->
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="index.html"><i class="fa fa-project-diagram"></i>FED Process</a></li>
                <li class="nav-item"><a class="nav-link active" href="#navbar-component" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-component"><i class="fa fa-server"></i>Components</a>
                  <div class="collapse" id="navbar-component">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item"><a class="nav-link" href="step.html">Step</a></li>
                      <li class="nav-item"><a class="nav-link" href="datepicker.html">Datepicker</a></li>
                      <li class="nav-item"><a class="nav-link" href="alert.html">Alert</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#navbar-resources" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-resources"><i class="fa fa-external-link-square-alt"></i>Resources</a>
                  <div class="collapse" id="navbar-resources">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item"><a class="nav-link" href="react.html">Learning React</a></li>
                      <li class="nav-item"><a class="nav-link" href="external-links.html">External links</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    <main class="main-content">
      <div class="py-2 header bg-gradient-primary">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-9 py-md-3 pl-md-4">
              <h1 class="text-white m-0 ls-3">Datepicker</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="py-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-9 py-md-3 pl-md-4 ct-content">
              <h2>Single datepicker</h2>
              <div class="nav-wrapper">
                <ul class="nav tabs flex-column flex-md-row" role="tablist">
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="false">Code</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane result-tab fade show active" id="result" role="tabpanel" aria-labelledby="result-tab">
                    <div class="card shadow">
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group input-group-alternative">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span></div>
                            <input class="form-control datepicker" placeholder="Select date" type="text" value="06/20/2018"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane code-tab fade" id="code" role="tabpanel" aria-labelledby="code-tab">
                    <figure class="highlight">
                      <pre class="language-html"><code class="btn-icon-clipboard">.form-group
   .input-group.input-group-alternative
     .input-group-prepend
       span.input-group-text
         i.ni.ni-calendar-grid-58
     input.form-control.datepicker(placeholder='Select date', type='text', value='06/20/2018')</code></pre>
                    </figure>
                  </div>
                </div>
              </div>
              <h2>Range datepicker</h2>
              <div class="nav-wrapper">
                <ul class="nav tabs flex-column flex-md-row" role="tablist">
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" id="range-result-tab" data-toggle="tab" href="#range-result-2" role="tab" aria-controls="result-2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="range-code-tab" data-toggle="tab" href="#range-code" role="tab" aria-controls="code" aria-selected="false">Code</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane result-tab fade show active" id="range-result-2" role="tabpanel" aria-labelledby="range-result-tab">
                    <div class="card shadow">
                      <div class="card-body">
                        <div class="input-daterange datepicker row align-items-center">
                          <div class="col">
                            <div class="form-group">
                              <div class="input-group input-group-alternative">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span></div>
                                <input class="form-control" placeholder="Start date" type="text" value="06/18/2018"/>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <div class="input-group input-group-alternative">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span></div>
                                <input class="form-control" placeholder="End date" type="text" value="06/22/2018"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane code-tab fade" id="range-code" role="tabpanel" aria-labelledby="range-code-tab">
                    <figure class="highlight">
                      <pre class="language-html"><code class="language-html">.input-daterange.datepicker.row.align-items-center
   .col
     .form-group
       .input-group.input-group-alternative
         .input-group-prepend
           span.input-group-text
             i.ni.ni-calendar-grid-58
         input.form-control(placeholder='Start date', type='text', value='06/18/2018')
   .col
     .form-group
       .input-group.input-group-alternative
         .input-group-prepend
           span.input-group-text
             i.ni.ni-calendar-grid-58
         input.form-control(placeholder='End date', type='text', value='06/22/2018')</code></pre>
                    </figure>
                  </div>
                </div>
              </div>
              <h2>Usage</h2>
              <p>In order to use this plugin on your page you will need to include the following script in the the page’s footer:</p>
              <pre class="language-css"><code class="language-css">(script src="/js/plugins/bootstrap-datepicker.min.js")</code></pre>
              <h2 class="mt-4">Initialization</h2>
              <p>Add the <strong>.datepicker</strong> class on the text input that you want to become a datepicker.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
        <!-- Common scripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="js/plugins/jquery.min.js"></script>
        <script src="js/plugins/bootstrap.bundle.min.js"></script>
        <script src="js/plugins/prism.js"></script>
        <script src="js/plugins/clipboard.min.js"></script>
        <script rel="text/javascript" src="js/plugins/bootstrap-datepicker.min.js"></script>
        <script src="js/main.js"></script>
  </body>
</html>
